dsls/webhook.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 'status: webhook'
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: trigger-webhook
        targetType: end
      id: 1771768631871-source-1771768634810-target
      source: '1771768631871'
      sourceHandle: source
      target: '1771768634810'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        async_mode: true
        body:
        - name: id
          required: true
          type: string
        - name: timestamp
          required: true
          type: number
        content_type: application/json
        headers: []
        method: POST
        params: []
        response_body: ''
        selected: false
        status_code: 200
        title: Webhook Trigger
        type: trigger-webhook
        variables:
        - label: raw
          required: true
          value_selector: []
          value_type: object
          variable: _webhook_raw
        - label: body
          required: true
          value_selector: []
          value_type: string
          variable: id
        - label: body
          required: true
          value_selector: []
          value_type: number
          variable: timestamp
        webhook_debug_url: ''
        webhook_url: ''
      height: 130
      id: '1771768631871'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1771768631871'
          - id
          value_type: string
          variable: id
        - value_selector:
          - '1771768631871'
          - timestamp
          value_type: number
          variable: timestamp
        selected: true
        title: Output
        type: end
      height: 114
      id: '1771768634810'
      position:
        x: 382
        y: 303
      positionAbsolute:
        x: 382
        y: 303
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 0
      y: 0
      zoom: 1
  rag_pipeline_variables: []
